body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f7f1e3;
  color: #4b3832;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cover-container {
  background-color: #fff5e1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #4b3832;
}

.lead {
  font-size: 1.2em;
  color: #6d6875;
  margin-bottom: 20px;
}

.btn-secondary {
  background-color: #ffbe76;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #ff9f43;
}

footer {
  margin-top: auto;
  padding-top: 20px;
  font-size: 0.9em;
}

footer a {
  color: #4b3832;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

